.headContainer {
  height: 500px;
  width: 75vw;
  background: url("../../assignment_images/new_head.png");
  background-size: cover;
  margin-left: 200px;
}
.navContainer {
  display: flex;
  flex-direction: column;
}
.button {
  background-color: rgb(255, 94, 0);
  border-radius: 20px;
  border: 1px solid transparent;
  width: 120px;
  color: rgba(255, 255, 255, 0.852);
  font-size: 0.7rem;
  height: 30px;
}
.button_container {
  display: flex;
  justify-content: space-between;
  width: 280px;
}
h1 {
  width: 400px;
  color: rgb(61, 40, 156);
}
.head_content {
  margin-left: 100px;
  margin-top: 100px;
}

@media only screen and (max-width: 767px) {
  .headContainer {
    margin: 50px;
    height: 200px;
    width: 500px;
  }
}
